body {
    background-color: #FEF6F9;
}


/* MENU */
li.cv, button {
    background: rgb(248,187,208);
background: linear-gradient(130deg, rgba(248,187,208,1) 0%, rgba(248,187,193,1) 35%, rgba(248,196,187,1) 85%, rgba(248,212,187,1) 100%);
}

li.cv a, .fa-bars {
    color: white!important;
}
a.nav-link:hover:not(.cv) {
    color: #B6516E!important;
}
nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}

/*FIN MENU*/

/* MAIN */
main h1 {
    color: #f6a4c0;
}
/* FIN MAIN */

/* SECTION 2 */
main section.keyboard article {
    background-color: #f8C4BB;
    border: 1px solid #f8C4BB;
    /* box-shadow: 5px 5px 15px -7px #000000; */
    box-shadow: 2px 3px 0px 2px #f6b0a4;
    
}

main section.keyboard span.chiffres {
    /* background-color: #f8D4BB;
    border: 1px solid #f8D4BB;
    box-shadow:  5px 5px 15px -7px #B6516E; */
    background: #f8D4BB;
    box-shadow: 1px 2px #f1a876;
}
main section.keyboard span.chiffres:active {
    /* background-color: #f8c9a8;
    border: 1px solid #f8c9a8; */
    box-shadow: 0 1px #f1a876;
    top: 2px;
}

main section.keyboard span.lettres, span.special-character {
    /* background-color: #F8BBC1;
    border: 1px solid #F8BBC1;
    box-shadow:  5px 5px 15px -7px #B6516E; */
    background: #F8BBC1;
    box-shadow: 1px 2px #f17682;
}
main section.keyboard span.lettres:active, span.special-character:active {
    /* background-color: #f8abb3;
    border: 1px solid #f8abb3; */
    box-shadow: 0 1px #f17682;
    top: 2px;
}
main section.keyboard span.special {
    /* border: 1px solid #F8BBD0;
    background-color: #F8BBD0;
    box-shadow:  5px 5px 15px -7px #B6516E; */
    background: #F8BBD0;
    box-shadow: 1px 2px #f176a0;
}
main section.keyboard span.special:active {
    /* background-color: #f7afc8;
    border: 1px solid #f7afc8; */
    box-shadow: 0 1px #f176a0;
    top: 2px;
}

main section.keyboard span.special a {
    color: #212529;
}
/* FIN SECTION 2 */