body {
    background-color: #FEF6F9;
}


/* MENU */
li.cv, button {
    background: rgb(248,187,208);
background: linear-gradient(130deg, rgba(248,187,208,1) 0%, rgba(248,187,193,1) 35%, rgba(248,196,187,1) 85%, rgba(248,212,187,1) 100%);
}

li.cv a, .fa-bars {
    color: white!important;
}
a.nav-link:hover:not(.cv) {
    color: #B6516E!important;
}
nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}
nav i {
    color: #FF9933;
}

/*FIN MENU*/

/* MAIN */
main h1 {
    color: #f6a4c0;
}
/* FIN MAIN */

/* SECTION 2 */
main section.keyboard article {
    background-color: #f8C4BB;
    border: 1px solid #f8C4BB;
    
}

main section.keyboard span.chiffres {
    background-color: #f8D4BB;
    border: 1px solid #f8D4BB;
    box-shadow:  5px 5px 15px -7px #B6516E;
}

main section.keyboard span.lettres {
    background-color: #F8BBC1;
    border: 1px solid #F8BBC1;
    box-shadow:  5px 5px 15px -7px #B6516E;
}
main section.keyboard span.special {
    border: 1px solid #F8BBD0;
    background-color: #F8BBD0;
    box-shadow:  5px 5px 15px -7px #B6516E;
}
/* FIN SECTION 2 */