body {
    background-color: #FEF6F9;
}


/* MENU */
li.cv, button {
    background: rgb(248,187,208);
background: linear-gradient(130deg, rgba(248,187,208,1) 0%, rgba(248,187,193,1) 35%, rgba(248,196,187,1) 85%, rgba(248,212,187,1) 100%);
}

li.cv a, .fa-bars {
    color: white!important;
}
a.nav-link:hover:not(.cv) {
    color: #B6516E!important;
}
nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}
nav i {
    color: #FF9933;
}

/*FIN MENU*/

