@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/comfortaa-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/comfortaa-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/comfortaa-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/comfortaa-v29-latin-300.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
  /* comfortaa-500 - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/comfortaa-v29-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/comfortaa-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/comfortaa-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/comfortaa-v29-latin-500.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../webfonts/montserrat-v15-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
         url('../webfonts/montserrat-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-200italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('../webfonts/montserrat-v15-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
         url('../webfonts/montserrat-v15-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../webfonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

*{
    font-family: 'Montserrat';
}

h1, h2, h3, h4, a, span {
    font-family: 'Comfortaa';
    text-transform: lowercase;

}

/* MENU */
li.cv, button {
    border-radius: 5px;
}
nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}
nav i {
    color: #FF9933;
}
/*FIN MENU*/


/* MAIN */
main {
    margin-top: .8rem;
}
main+h1 {
    font-size: 1.8rem;
}
/* FIN MAIN */

/* SECTION 1 */
  .notepad {
      background: #fafafa;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);
      margin: 1rem auto;
      position: relative;
      width: 70%;

      background-image: -webkit-radial-gradient(#f5f5f5 21%, transparent 21%),
      -webkit-radial-gradient(rgba(0,0,0,.25) 21%, transparent 26%),
      -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);

      background-image: -moz-radial-gradient(#f5f5f5 21%, transparent 21%),
      -moz-radial-gradient(#e6e6e6 10%, transparent 12%),
      -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);

      background-image: radial-gradient(#f5f5f5 21%, transparent 21%),
      radial-gradient(#e6e6e6 10%, transparent 12%), 
      linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%, rgba(96,159,159,0.1) 95%, rgba(96,159,159,0.1) 100%);


      background-position: 6px 6px, 6px 5px, 50% 18px;
      background-repeat: repeat-y, repeat-y, repeat;
      background-size: 48px 48px, 48px 48px, 24px 24px;
      padding: 48px 24px 24px 84px;
  }
  /* EFFET MARGES DROITES ROUGES */
  .notepad div:before {
    border-left: 1px solid hsla(0,75%,50%,.3);
      border-right: 1px solid hsla(0,75%,50%,.3);
      bottom: 0;
      content: '';
      left: 58px;
      position: absolute;
      top: 0;
      width: 2px;
      z-index: 100;
  }
  /* STYLES FEUILLES DE DERRIERE */
  .notepad::before,
  .notepad::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #fafafad3;
  }
  .notepad::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
  }
  .notepad::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
  }
    /* BORDURES DES FEUILLES */
    .notepad,
    .notepad::before,
    .notepad::after {
      border: 1px solid rgb(207, 207, 207);
    }

main section article h1 {
    font-size: 1.2rem;
    margin:0;
}
/* FIN SECTION 1 */


/* SECTION 2 */

main section.keyboard article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 5px 5px 15px -7px #000000;
}
main section.keyboard article div span {
  display: inline-block;
  /* width: 26px;
   padding-top: 1rem 1.75rem;
  height: 10%; */
  /* width: 5%;
  margin: auto;
  padding: .5rem .2rem;
  border-radius: 100%; */
}
main section.keyboard span {
  width: 26px;
  /* padding: 1rem 1.75rem; */
  padding: 1rem 1.9rem .8rem 1.3rem;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
}
main section.keyboard span.deux, main section.keyboard span.quatre {
  border-radius: 10px;
  align-self: center;
}

article.keyboard div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-bottom: .5rem;
}


main section.keyboard span.deux {
  width: 20%;
}
main section.keyboard span.quatre {
  width: 40%;
}

/* FIN SECTION 2 */

/* FOOTER */
footer {
  margin-top: 1rem;
}
/* FIN FOOTER */


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* SECTION 1 */
    .notepad {
        width: 90%;
    }
    /* SECTION 2 */
    main section.keyboard article {
      width: 90%;
    }
    main section.keyboard span {
      padding: 0;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}