@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/comfortaa-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/comfortaa-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/comfortaa-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/comfortaa-v29-latin-300.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
  /* comfortaa-500 - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/comfortaa-v29-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../webfonts/comfortaa-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/comfortaa-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/comfortaa-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/comfortaa-v29-latin-500.svg#Comfortaa') format('svg'); /* Legacy iOS */
  }
/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../webfonts/montserrat-v15-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
         url('../webfonts/montserrat-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-200italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('../webfonts/montserrat-v15-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
         url('../webfonts/montserrat-v15-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../webfonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../webfonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

*{
    font-family: 'Montserrat';
}

h1, h2, h3, h4, a, span.name {
    font-family: 'Comfortaa';
    text-transform: lowercase;

}

/* MENU */
li.cv a, .fa-bars {
    color: white!important;
}
a.nav-link:hover:not(.cv) {
    color: #FF9933!important;
}
nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}
nav i {
    color: #FF9933;
}
/*FIN MENU*/

/* SECTION 1 */
  .paper {
      background: #fafafa;
      box-shadow: 0 1px 2px hsla(0,0%,0%,.25);
      margin: 50px auto;
      position: relative;
      width: 70%;
      background-image: -webkit-radial-gradient(#e6e6e6 21%, transparent 21%),
      -webkit-radial-gradient(hsla(0,0%,0%,.25) 21%, transparent 26%),
      -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%, hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);

      background-image: -moz-radial-gradient(#e6e6e6 21%, transparent 21%),
      -moz-radial-gradient(#e6e6e6 10%, transparent 12%),
      -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%, hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);

      background-image: radial-gradient(#e6e6e6 21%, transparent 21%),
      radial-gradient(#e6e6e6 10%, transparent 12%), 
      linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%, hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);

      background-position: 6px 6px, 6px 5px, 50% 18px;
      background-repeat: repeat-y, repeat-y, repeat;
      background-size: 48px 48px, 48px 48px, 24px 24px;
      padding: 48px 24px 24px 84px;
  }
  /* EFFET MARGES DROITES ROUGES */
  .paper div:before {
    border-left: 1px solid hsla(0,75%,50%,.3);
      border-right: 1px solid hsla(0,75%,50%,.3);
      bottom: 0;
      content: '';
      left: 58px;
      position: absolute;
      top: 0;
      width: 2px;
      z-index: 100;
  }
  /* STYLES FEUILLES DE DERRIERE */
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #fafafad3;
  }
  .paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
  }
  .paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
  }
    /* BORDURES DES FEUILLES */
    .paper,
    .paper::before,
    .paper::after {
      border: 1px solid rgb(207, 207, 207);
    }
/* FIN SECTION 1 */




/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* SECTION 1 */
    .paper {
        width: 90%;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}